/* Home styles */
* {
    font-family: 'Lato', sans-serif;

}

body {
    margin: 0px;
}

.home-container {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    height: 100vh;
    justify-content: space-around;
    /* text-align: center; */
    align-items: center;
    padding: 15px 15px 0px 150px;
    /* gap: 100px; */
}

.home-title {
    /* width: 80%; */
    color: #272727;
    font-size: 80px;
    /* font-family: 'Lato', sans-serif; */
}

.home-paragraph {
    width: 90%;
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    /* margin: auto; */

}

.shop-now {
    font-size: 18px;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: white;
    font-weight: 500;
    border: none;
}

.home-img img {
    width: 635px;
    height: 800px;
}

.home-text-container {
    text-align: left;
    /* background-color: lightgrey; */
    padding: 50px;
}

/* main styles */
.featured-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.featured-paragraph {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    margin: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: -25px;
}

.featured-section {
    margin-top: 150px;
}

.frames {
    display: flex;
    padding: 48px 180px;
    gap: 25px;
    margin-bottom: 100px;
}

.frame-1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.frame-2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.frame-3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.frame-1-flower {
    margin: 110px 78px 0px 76px;
}

.frame-2-flower {
    margin: 110px 47px 80px 47px;
}

.frame-3-flower {
    margin: 67px 75px 0px 75px;
}

.flower-text {}

/* sevices */
.services {
    display: flex;
    width: 1300px;
    height: 200px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: auto;
}

/* Hot Deal */
.hot-deal {
    height: 600px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: 100px 0px 100px 0px;
}

.hot-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hot-paragraph {
    display: flex;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.btn-sign-up {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.hot-img {
    width: 318px;
    height: 420px;
}
/* Instagram */
.instagram-heading {
    color: #272727;
font-size: 40px;
font-weight: 800;
margin-bottom: 20px;
}
.instagram-paragraph {
    display: flex;
width: 594px;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin: auto;
}
.instagram {
    text-align: center;
    /* margin: 50px; */
}
.instagram-img {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 48px 240px 128px 240px;
}